<section class="feedback">
	<div class="container">
		<h2 class="feedback__title">Отзывы</h2>
		<div class="feedback__wrap">
			<div class="feedback__carousel">
				<div class="feedback__swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="card">
								<div class="card__top">
									<div class="card__img">
										<img src="assets/img/card1.png" alt="card" />
									</div>
									<div class="card__img-circle">
										<img src="assets/img/cardCircle.svg" alt="#" />
									</div>
									<div class="card__name">
										<span>Маша Катарсис</span>
										<span>иллюстратолка</span>
									</div>
								</div>
								<p class="card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<div class="card__top">
									<div class="card__img">
										<img src="assets/img/card2.png" alt="card" />
									</div>
									<div class="card__img-circle">
										<img src="assets/img/cardCircleBlue.svg" alt="#" />
									</div>
									<div class="card__name">
										<span>Маша Катарсис</span>
										<span>иллюстратолка</span>
									</div>
								</div>
								<p class="card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<div class="card__top">
									<div class="card__img">
										<img src="assets/img/card3.png" alt="card" />
									</div>
									<div class="card__img-circle">
										<img src="assets/img/cardCircle.svg" alt="#" />
									</div>
									<div class="card__name">
										<span>Маша Катарсис</span>
										<span>иллюстратолка</span>
									</div>
								</div>
								<p class="card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="feedback__arrows">
						<div class="prev-arrow">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15"
								height="17"
								viewBox="0 0 15 17"
								fill="none"
							>
								<path
									d="M-4.15258e-07 8.5L14.25 0.272758L14.25 16.7272L-4.15258e-07 8.5Z"
									fill="#E8D3BF"
								/>
							</svg>
						</div>
						<div class="next-arrow">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15"
								height="17"
								viewBox="0 0 15 17"
								fill="none"
							>
								<path
									d="M15 8.5L0.750001 0.272758L0.75 16.7272L15 8.5Z"
									fill="#E8D3BF"
								/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
