<header class="header">
	<div class="header__container container">
		<a width="" height="" href="#" class="header__logo"
			><img width="203" height="51" src="assets/img/logo.svg" alt="logo"
		/></a>
		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link active">
							<span class="nav__for">для</span>
							<span>Себя</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav__link">
							<span class="nav__for">для</span>
							<span>Компании</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav__link">
							<span class="nav__for">для</span>
							<span>Психологов</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__buttons">
				<button class="header__btn btn epic-btn">
					<span>Зарегистрироваться</span>
					<span>Зарегистрироваться</span>
				</button>
			</div>
		</div>
		<div class="burger">
			<span></span>
		</div>
		<div class="mobile-register">
			<img
				width="27"
				height="27"
				src="assets/img/svg/register.svg"
				alt="нажмите для регистрации"
			/>
		</div>
	</div>
</header>
