<section class="hero">
	<div class="hero__container container">
		<div class="hero__inner">
			<div class="hero__left">
				<div class="hero__text">
					<span class="vegan-text">Платформа</span> AERA
				</div>
				<h1 class="hero__title">
					Это индивидуальные онлайн сессии с&nbsp;психологом, коучем,
					фитнес-тренером. Для вас и&nbsp;вашей компании.
				</h1>
				<div class="hero__buttons">
					<button class="btn btn--brown epic-btn">
						<span>Подобрать специалиста</span>
						<span>Подобрать специалиста</span>
					</button>
					<a href="mailto:go@aera.expert" class="hero__mail">
						<svg class="message-icon">
							<use xlink:href="assets/img/svg/sprite.svg#message"></use>
						</svg>
						<span>go@aera.expert</span>
					</a>
				</div>
			</div>
			<div class="hero__right">
				<div class="hero__img">
					<img src="assets/img/content/hero1.png" alt="hero img" />
				</div>
				<div class="hero__circles">
					<img src="assets/img/heroCircles.png" alt="" />
				</div>
				<div class="hero__form">
					<form action="#" class="hero-form">
						<div class="hero-form__field">
							<input type="text" placeholder="Поиск Коуча " />
							<div class=""></div>
						</div>
						<div class="hero-form__item">
							Освоить тайм-менеджемент Поставить цели
						</div>
					</form>
				</div>
				<div class="hero-cards">
					<p class="hero-cards__text">Поиск коуча, психолога, фитнес-тренера</p>
					<div class="hero-cards__list">
						<div class="hero-card">
							<div class="hero-card__img">
								<img
									width="50"
									height="50"
									src="assets/img/person1.png"
									alt=""
								/>
							</div>
							<span class="hero-card__text">Психолог</span>
						</div>
						<div class="hero-card">
							<div class="hero-card__img">
								<img
									width="50"
									height="50"
									src="assets/img/person2.png"
									alt=""
								/>
							</div>
							<span class="hero-card__text">Коуч</span>
						</div>
						<div class="hero-card">
							<div class="hero-card__img">
								<img
									width="50"
									height="50"
									src="assets/img/person3.png"
									alt=""
								/>
							</div>
							<span class="hero-card__text">Коуч</span>
						</div>
						<div class="hero-card">
							<div class="hero-card__img">
								<img
									width="50"
									height="50"
									src="assets/img/person4.png"
									alt=""
								/>
							</div>
							<span class="hero-card__text"
								>Фитнес
								<br />
								тренер
							</span>
						</div>
						<div class="hero-card">
							<div class="hero-card__img">
								<img
									width="50"
									height="50"
									src="assets/img/person5.png"
									alt=""
								/>
							</div>
							<span class="hero-card__text">Психолог</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
