<section class="team">
	<div class="team__curves">
		<svg
			width="1920"
			height="882"
			viewBox="0 0 1920 882"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M180.549 812.474C56.0403 829.303 -134.336 881.257 -134.336 881.257L-117.141 0.832156C-117.141 0.832156 32.7345 16.4869 180.549 52.92C328.364 89.3531 625.359 83.8323 625.359 83.8323C625.359 83.8323 874.237 119.453 1004.86 118.832C1135.48 118.212 1209.22 96.3677 1289.36 83.8323C1590.37 36.7469 1925.31 52.92 1925.31 52.92L1925.31 861.807C1925.31 861.807 1736.53 801.44 1655.29 804.868C1574.04 808.296 1421.28 836.56 1387.21 843.767C1353.14 850.974 1189.39 860.548 1133.88 861.807C1078.36 863.065 880.826 844.545 880.826 844.545C800.189 839.044 654.036 800.286 506.824 795.486C379.382 791.33 307.15 795.363 180.549 812.474Z"
				fill="#fff"
				fill-opacity="0.5"
			/>
		</svg>
		<svg
			width="1920"
			height="881"
			viewBox="0 0 1920 881"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M242.19 812.142C117.681 828.971 -72.695 880.925 -72.695 880.925L-55.5001 0.49988C-55.5001 0.49988 94.3756 16.1546 242.19 52.5877C390.005 89.0208 687 83.5 687 83.5C687 83.5 935.878 119.121 1066.5 118.5C1197.12 117.879 1270.86 96.0354 1351 83.5C1652.01 36.4146 1986.96 52.5877 1986.96 52.5877L1986.96 861.474C1986.96 861.474 1798.17 801.108 1716.93 804.536C1635.68 807.964 1482.92 836.228 1448.85 843.435C1414.78 850.641 1251.04 860.215 1195.52 861.474C1140 862.733 942.467 844.213 942.467 844.213C861.83 838.712 715.677 799.954 568.466 795.153C441.023 790.998 368.791 795.03 242.19 812.142Z"
				fill="white"
			/>
		</svg>
	</div>
	<div class="container team__container">
		<h2 class="team__title"><span class="vegan-text">Наша</span> команда</h2>

		<div class="team__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="team-card">
						<div class="team-card__img">
							<div class="img">
								<img src="assets/img/team1.png" alt="" />
							</div>
							<div class="team-card__circles">
								<img src="assets/img/teamCircle.svg" alt="" />
							</div>
						</div>

						<div class="team-card__name"><span>Елена</span> Немкова</div>
						<div class="team-card__type">Психолог</div>
						<a href="#" class="team-card__btn">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="team-card">
						<div class="team-card__img">
							<div class="img">
								<img src="assets/img/team2.png" alt="" />
							</div>
							<div class="team-card__circles">
								<img src="assets/img/teamCircleBlue.svg" alt="" />
							</div>
						</div>
						<div class="team-card__name"><span>Елена</span> Немкова</div>
						<div class="team-card__type">Психолог</div>
						<a href="#" class="team-card__btn">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="team-card">
						<div class="team-card__img">
							<div class="img">
								<img src="assets/img/team3.png" alt="" />
							</div>
							<div class="team-card__circles">
								<img src="assets/img/teamCircle.svg" alt="" />
							</div>
						</div>
						<div class="team-card__name"><span>Елена</span> Немкова</div>
						<div class="team-card__type">Психолог</div>
						<a href="#" class="team-card__btn">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="team-card">
						<div class="team-card__img">
							<div class="img">
								<img src="assets/img/team4.png" alt="" />
							</div>
							<div class="team-card__circles">
								<img src="assets/img/teamCircle.svg" alt="" />
							</div>
						</div>
						<div class="team-card__name"><span>Елена</span> Немкова</div>
						<div class="team-card__type">Психолог</div>
						<a href="#" class="team-card__btn">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="team-card">
						<div class="team-card__img">
							<div class="img">
								<img src="assets/img/team5.png" alt="" />
							</div>
							<div class="team-card__circles">
								<img src="assets/img/teamCircle.svg" alt="" />
							</div>
						</div>
						<div class="team-card__name"><span>Елена</span> Немкова</div>
						<div class="team-card__type">Психолог</div>
						<a href="#" class="team-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="team__arrows">
				<div class="prev-arrow">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="15"
						height="17"
						viewBox="0 0 15 17"
						fill="none"
					>
						<path
							d="M-4.15258e-07 8.5L14.25 0.272758L14.25 16.7272L-4.15258e-07 8.5Z"
							fill="#E8D3BF"
						/>
					</svg>
				</div>
				<div class="next-arrow">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="15"
						height="17"
						viewBox="0 0 15 17"
						fill="none"
					>
						<path
							d="M15 8.5L0.750001 0.272758L0.75 16.7272L15 8.5Z"
							fill="#E8D3BF"
						/>
					</svg>
				</div>
			</div>
		</div>
		<button class="btn epic-btn team__btn">
			<span>Зарегистрироваться</span>
			<span>Зарегистрироваться</span>
		</button>
	</div>
</section>
