.diff {
	padding-top: 50px;
	padding-bottom: 100px;
	@media screen and (max-width: $tablet) {
		padding-top: 16px;
	}
	position: relative;

	background-color: #f8fbff;

	&__inner {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		gap: 150px;
		@media screen and (max-width: $medium) {
			flex-direction: column-reverse;
			align-items: center;
			gap: 30px;
		}
	}
	&__info {
		@media screen and (max-width: $medium) {
			display: none;
		}
	}
	&__info-mobile {
		display: none;
		@media screen and (max-width: $medium) {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
		}
	}
	&__left {
		padding-left: 110px;
		flex-shrink: 0;
		@media screen and (max-width: $medium) {
			padding-left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		position: relative;
		@media screen and (max-width: $mobile) {
			width: 200px;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			left: -100px;
			top: -7px;
			width: 440px;
			height: 470px;
			background: url('../img/diffCircle.svg') no-repeat;
			@media screen and (max-width: $medium) {
				width: 425px;
				height: 432px;
				background: url('../img/diffCircle.svg') no-repeat center/contain;
			}
			@media screen and (max-width: $mobile) {
				width: 335px;
				height: 352px;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
			}
		}
	}

	&__fragment {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 15px 18px;
		width: max-content;
		border-radius: 10px;
		background: #ddedff;

		color: $gray;
		font-family: Greenwich;
		font-size: 15px;
		font-weight: 300;
	}
	&__fragment-1 {
		top: 290px;
		left: -95px;
	}
	&__fragment-2 {
		bottom: 82px;
		left: 170px;
		@media screen and (max-width: $mobile) {
			bottom: auto;
			top: -5px;
		}
	}
	&__fragment-3 {
		top: 260px;
		left: 120px;
		border-radius: 10px;
		background: #fff;
		box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.04);
	}

	&__right {
		padding-top: 115px;

		@media screen and (max-width: $medium) {
			padding-top: 0;
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		margin-bottom: 10px;
		color: $lightBlue;
		font-family: Greenwich;
		font-size: 50px;
		font-style: normal;
		font-weight: 400;
		line-height: 137%;
		@media screen and (max-width: $medium) {
			text-align: center;
		}
		@media screen and (max-width: $mobile) {
			font-size: 30px;
		}
	}

	&__text {
		margin-bottom: 74px;
		max-width: 700px;
		color: $gray;
		font-family: Greenwich;
		font-size: 19px;
		font-style: normal;
		font-weight: 400;
		line-height: 131.579%;
		@media screen and (max-width: $medium) {
			margin-bottom: 27px;
			text-align: center;
			font-size: 17px;
		}
	}
	&__btn {
		@media screen and (max-width: $medium) {
			margin: 0 auto;
		}
	}
}

.curves {
	svg {
		display: flex;
		position: absolute;
		z-index: 3;

		&:first-child {
			top: -130px;
		}
		&:nth-child(2) {
			top: -120px;
		}
		&:nth-child(3) {
			top: -100px;
		}
	}
}

.mouse {
	position: absolute;
	top: -106px;
	left: calc(50% - 18px);
	transform: translateX(-50%);
	z-index: 1322321;

	background-color: red;
	@media screen and (max-width: $medium) {
		display: none;
	}
}
.mouse-wrapper {
	position: relative;
}
.mouse-icon {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.mouse-line {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 35px;
	transform: translateX(-50%);
}
.mouse-circle {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
}
