.work {
	padding-top: 155px;
	padding-bottom: 150px;
	position: relative;
	background-color: #f8fbff;

	&__container {
		display: flex;
		flex-direction: column;
	}
	&__title {
		text-align: center;
		color: $lightBlue;
		font-family: Greenwich;
		font-size: 50px;
		font-weight: 400;
		line-height: 137%;
		@media screen and (max-width: $medium) {
			margin-bottom: 200px;

			font-size: 30px;
			font-weight: 400;
			line-height: 137%;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $medium) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 160px;
		}
	}
	&__item-mobile {
		display: none !important;
		@media screen and (max-width: $medium) {
			display: flex !important;
			flex-direction: column;
			span {
				max-width: 90% !important;
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 17px;
		position: relative;
		svg {
		}
		&:first-child {
			transform: translate(103px, 200px);
			@media screen and (max-width: $medium) {
				transform: translate(0, 0);
				margin-bottom: 100px;
			}
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				width: 438px;
				height: 472px;
				background: url('../img/workLeftCircle.svg') no-repeat center/cover;
				@media screen and (max-width: $medium) {
					width: 384px;
					height: 414px;
				}
			}
			&::before {
				z-index: -1;
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				width: 409px;
				height: 409px;
				border-radius: 50%;
				opacity: 0.8;
				background: radial-gradient(
					50% 50% at 50% 50%,
					#66acff 0%,
					#66acff 100%
				);
				filter: blur(99px);
				@media screen and (max-width: $medium) {
					width: 360px;
					height: 360px;
				}
			}
		}
		&:nth-child(2) {
			transform: translate(8px, 180px);
			@media screen and (max-width: $medium) {
				transform: translate(0, 0);
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				top: -104px;
				left: -72px;
				width: 445px;
				height: 187px;
				background: url('../img/workLine.svg') no-repeat center/cover;
				@media screen and (max-width: 1270px) {
					display: none;
				}
			}
		}
		&:nth-child(3) {
			transform: translate(-120px, 120px);
			@media screen and (max-width: $medium) {
				transform: translate(0, 0);
			}
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				width: 438px;
				height: 472px;
				background: url('../img/workRightCircle.svg') no-repeat center/cover;
				@media screen and (max-width: $medium) {
					width: 384px;
					height: 414px;
				}
			}

			&::before {
				z-index: -1;
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				width: 409px;
				height: 409px;
				border-radius: 50%;
				opacity: 0.8;
				background: #e8d3bf;

				filter: blur(99px);
				@media screen and (max-width: $medium) {
					width: 360px;
					height: 360px;
				}
			}
		}
		span {
			@media screen and (max-width: $medium) {
				font-size: 17px;
				max-width: 260px;
			}
			&:last-child {
				color: $light;
				color: #222;
				text-align: center;
				font-family: Greenwich;
				font-size: 19px;
				font-weight: 400;
				line-height: 131.579%;
				max-width: 240px;
			}
		}
	}
	&__btn {
		margin: 0 auto;
		margin-top: 312px;
		@media screen and (max-width: $medium) {
			margin-top: 50px;
		}
	}
}

.circle {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 1px solid #d8dce4;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: grid;
	place-items: center;

	color: $lightBlue;
	font-family: Greenwich;
	font-size: 40px;
	font-weight: 500;
}
