@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Greenwich';
	src: url('../fonts/Greenwich-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	display: swap;
}
